.DS_Store
logs
project
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
.target/
bin/
*.iml
/recovery
utils/data/
tmp/*
log.dir_IS_UNDEFINED/
.bsp
.gradle
.env